<ng-select *ngIf="type === 'dynamic'"
           [class]="theme"
           [ngClass]="control.invalid && (control.dirty || control.touched) 
                ? 'invalid' 
                : 'valid'"
           [items]="listItems"
           [labelForId]="id"
           [formControl]="control"
           [placeholder]="placeholder"
           [loadingText]="'تحميل ...'"
           [loading]="isListLoading"
           notFoundText="لا يوجد بيانات"
           [bindLabel]="bindLabel"
           bindValue="id"
           (open)="getListItems()"
           (close)="resetList()"
           (clear)="resetList()"
           (search)="searchForItem($event)"
           (scrollToEnd)="getMoreListItems()"
           (change)="selectItem($event)">
    <ng-container *ngIf="badgeTemplate">
        <ng-template ng-label-tmp let-item="item">
            <span class="rounded-full px-2 text-xs" [ngClass]="item.style">{{item.name}}</span>
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-index="index">
            <span class="rounded-full px-2 text-xs" [ngClass]="item.style">{{item.name}}</span>
        </ng-template>
    </ng-container>
</ng-select>

<ng-select *ngIf="type === 'static'"
           [class]="theme"
           [ngClass]="control.invalid && (control.dirty || control.touched) 
                ? 'invalid' 
                : 'valid'"
           [items]="staticListItems"
           [labelForId]="id"
           [formControl]="control"
           [placeholder]="placeholder"
           notFoundText="لا يوجد بيانات"
           [bindLabel]="bindLabel"
           bindValue="value"
           [searchable]="true"
           [clearable]="false"
           (change)="selectItem($event)">
    <ng-container *ngIf="badgeTemplate">
        <ng-template ng-label-tmp let-item="item">
            <span class="rounded-full px-2 text-xs" [ngClass]="item.value">مثال</span>
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-index="index">
            <span class="rounded-full px-2 text-xs" [ngClass]="item.value">مثال</span>
        </ng-template>
    </ng-container>
</ng-select>