<app-table [headers]="headers" [filterFields]="filterFields" [items]="data$ | async" [breadcrumbs]="summary"
           (addClicked)="onCreate()">
    <ng-template #tableCell let-data="data">
        <td>{{ data.year }}</td>
        <td>{{ getTranslatedMeasurementPeriod(data.measurementPeriod) }}</td>
        <td>{{ data.targetValue }}</td>
        <td>{{ data.actualValue  }}</td>
        <td>{{ data.measurementUnit  }}</td>
        <td>{{ data.plannedFinish | isoDate  }}</td>
        <td>{{ data.actualFinish | isoDate  }}</td>
        <td>
            <app-table-actions-buttons *ngIf="data.approved"
                    (UpdateBtnClicked)="onUpdate(data)"
                    (DeleteBtnClicked)="onDelete(data)">
            </app-table-actions-buttons>
        </td>
    </ng-template>
</app-table>

<app-modal modalId="KpiValueModal" size="lg" #modal>
    <p class="text-sm font-semibold ml-2" modal-head>{{ formTitle }}</p>
    <div modal-body>
        <app-kpi-value-form
                *ngIf="modal.showBody"
                [inputCommand]="command"
                [formAction]="formAction"
                (formSubmitted)="updateItems($event)">
        </app-kpi-value-form>
    </div>
</app-modal>
