<app-detail-page [tabs]="tabs" [state]="detailPageState" titleKey="name" [editBtnLoading]="isFormLoading" [(selectedTab)]="selectedTab"
                 [notFound]="notFoundState"
                 (deleteClicked)="delete()"
                 (editClicked)="update()">
    <ng-container *ngIf="detailPageState">

    </ng-container>
</app-detail-page>

<app-modal modalId="PortfolioDetail" size="xl" #modal>
    <p class="text-sm font-semibold ml-2" modal-head>{{ formTitle }}</p>
    <div modal-body>
        <app-portfolio-form *ngIf="modal.showBody" [inputCommand]="command" [formAction]="formAction"
                             (formSubmitted)="onSubmit($event)">
        </app-portfolio-form>
    </div>
</app-modal>