<app-collection [items]="data$ | async" title="مؤشرات الأداء" addBtnTitle="مؤشر جديد" [subList]="subList"
                (itemSelected)="showDetail($event)" (addClicked)="onCreate()" [filterFields]="filterFields">
    <ng-template #listView let-data="data">
        <div class="md:max-w-xs lg:max-w-sm xl:max-w-md 2xl:max-w-4xl w-full">
            <span class="text-sm font-semibold text-theme-gray-900 block">{{ data.name }}</span>
            <small class="text-theme-gray-500 text-sm">{{ data.code }}</small>
        </div>
        <div class="flex !space-x-reverse space-x-10 md:space-x-5 2xl:space-x-10">
            <div class="text-center">
                <small class="text-theme-gray-500 text-xs block">الهدف الإستراتيجي</small>
                <span class="text-sm text-theme-gray-900">{{ data.levelThreeStrategicObjectiveName  }}</span>
            </div>
            <div class="text-center">
                <small class="text-theme-gray-500 text-xs block">الجهة</small>
                <span class="text-sm text-theme-gray-900">{{ data.entityName  }}</span>
            </div>
        </div>
    </ng-template>
</app-collection>

<app-modal modalId="createKPI" size="xl" #modal>
    <p class="text-sm font-semibold ml-2" modal-head>مؤشر جديد</p>
    <div modal-body>
        <app-kpi-form *ngIf="modal.showBody" [inputCommand]="command" (formSubmitted)="updateItems($event)"></app-kpi-form>
    </div>
</app-modal>