<app-collection [items]="data$ | async" title="المبادرات" addBtnTitle="مبادرة جديدة" [subList]="subList"
                (itemSelected)="showDetail($event)" (addClicked)="onCreate()" [filterFields]="filterFields">
    <ng-template #listView let-data="data">
        <div class="md:max-w-xs lg:max-w-sm xl:max-w-md 2xl:max-w-4xl w-full">
            <span class="text-sm font-semibold text-theme-gray-900 block">{{ data.name }}</span>
            <small class="text-theme-gray-500 text-sm">{{ data.entityName }}</small>
        </div>
        <div class="flex !space-x-reverse space-x-10 md:space-x-5 2xl:space-x-10">
            <div class="text-center">
                <small class="text-theme-gray-500 text-xs block">التكاليف المعتمدة</small>
                <span class="text-sm text-theme-gray-900">{{ data.approvedCost | localCurrency }}</span>
            </div>
            <div class="text-center">
                <small class="text-theme-gray-500 text-xs block">إجمالي الإرتباطات</small>
                <span class="text-sm text-theme-gray-900">{{ data.contractsAmount | localCurrency }}</span>
            </div>
            <div class="text-center">
                <small class="text-theme-gray-500 text-xs block">سيولة 2022</small>
                <span class="text-sm text-theme-gray-900">{{ data.currentYearBudget | localCurrency }}</span>
            </div>
            <div class="text-center">
                <small class="text-theme-gray-500 text-xs block">منصرف 2022</small>
                <span class="text-sm text-theme-gray-900">{{ data.currentYearExpenditure | localCurrency }}</span>
            </div>
            <div class="text-center">
                <small class="text-theme-gray-500 text-xs block">حالة التمويل</small>
                <span class="text-sm text-theme-gray-900">{{ data.fundStatus.name }}</span>
            </div>
        </div>
    </ng-template>
</app-collection>

<app-modal modalId="createInitiative" size="xl" #modal>
    <p class="text-sm font-semibold ml-2" modal-head>مبادرة جديدة</p>
    <div modal-body>
        <app-initiative-form *ngIf="modal.showBody" [inputCommand]="command" (formSubmitted)="updateItems($event)"></app-initiative-form>
    </div>
</app-modal>