<app-detail-page [tabs]="tabs" [state]="detailPageState" [returnUrl]="returnUrl" titleKey="name"
                 [(selectedTab)]="selectedTab" [notFound]="notFoundState"
                 (deleteClicked)="delete()"
                 (editClicked)="update()">
    <ng-container *ngIf="detailPageState">
        <app-entity-performance *ngIf="selectedTab === 'performance'"></app-entity-performance>
        <app-initiatives-list [subList]="true" [url]="'initiatives?entityId=' + detailPageState.id"
                              *ngIf="selectedTab === 'initiatives'"></app-initiatives-list>
        <app-kpis-list [subList]="true" [url]="'kpis?entityId=' + detailPageState.id"
                       *ngIf="selectedTab === 'kpis'"></app-kpis-list>
        <app-strategic-objectives-list [subList]="true" *ngIf="selectedTab === 'objectives'" [level]="3"
                                       [url]="'strategic-objectives?level=3&entityId=' + detailPageState.id">
        </app-strategic-objectives-list>
    </ng-container>
</app-detail-page>

<app-modal modalId="EntityDetail" size="lg" #modal>
    <p class="text-sm font-semibold ml-2" modal-head>{{ formTitle }}</p>
    <div modal-body>
        <app-entity-form *ngIf="modal.showBody" [inputCommand]="command" [formAction]="formAction"
                         (formSubmitted)="onSubmit($event)"></app-entity-form>
    </div>
</app-modal>