<app-form [form]="form" (formSubmitted)="onSubmit()">
    <ul class="bg-red-100 p-2 border border-red-300 rounded-lg" *ngIf="globalErrors.length">
        <li class="text-sm text-red-500" *ngFor="let error of globalErrors">- {{ error }}</li>
    </ul>
    <ng-container *ngIf="!isDeleteRequest; else deletePrompt">
        <div class="grid grid-cols-12 gap-2">
            <div class="col-span-full">
                <app-form-input [control]="description" id="description" name="وصف الخطر" type="textarea"></app-form-input>
            </div>
            <div class="col-span-full sm:col-span-6">
                <app-form-input [control]="typeEnumId" id="typeEnumId" name="نوع الخطر" type="list" [badgeList]="true"
                                [dynamicListDefaultItems]="currentType"
                                [listUrl]="typeUrl"></app-form-input>
            </div>
            <div class="col-span-full sm:col-span-6">
                <app-form-input [control]="scopeEnumId" id="scopeEnumId" name="نطاق الخطر" type="list" [badgeList]="true"
                                [dynamicListDefaultItems]="currentScope"
                                [listUrl]="scopeUrl"></app-form-input>
            </div>
            <div class="col-span-full sm:col-span-6">
                <app-form-input [control]="probabilityEnumId" id="probabilityEnumId" name="احتمالية الخطر" type="list" [badgeList]="true"
                                [dynamicListDefaultItems]="currentProbability"
                                [listUrl]="probabilityUrl"></app-form-input>
            </div>
            <div class="col-span-full sm:col-span-6">
                <app-form-input [control]="impactEnumId" id="impactEnumId" name="أثر الخطر" type="list" [badgeList]="true"
                                [dynamicListDefaultItems]="currentImpact"
                                [listUrl]="impactUrl"></app-form-input>
            </div>
            <div class="col-span-full">
                <app-form-input [control]="impactDescription" id="impactDescription" name="وصف الأثر" type="textarea"></app-form-input>
            </div>
            <div class="col-span-full">
                <app-form-input [control]="responsePlane" id="responsePlane" name="خطة الاستجابة" type="textarea"></app-form-input>
            </div>
            <div class="col-span-full sm:col-span-6">
                <app-form-input [control]="priorityEnumId" id="priorityEnumId" name="أولوية الخطر" type="list" [badgeList]="true"
                                [dynamicListDefaultItems]="currentPriority"
                                [listUrl]="priorityUrl"></app-form-input>
            </div>
            <div class="col-span-full sm:col-span-6">
                <app-form-input [control]="owner" id="owner" name="المسؤول"></app-form-input>
            </div>
            <div class="col-span-full sm:col-span-6">
                <app-form-input [control]="raisedBy" id="raisedBy" name="رفع بواسطة"></app-form-input>
            </div>
            <div class="col-span-full sm:col-span-6">
                <app-form-input [control]="raisedAt" id="raisedAt" name="رفع بتاريخ" type="date"></app-form-input>
            </div>
        </div>
    </ng-container>
    <div class="flex justify-end border-t border-t-theme-gray-200 pt-4">
        <button type="submit" class="btn py-1.5 w-20 btn-secondary text-center text-sm">{{isDeleteRequest ? 'حذف' : 'حفظ'}}</button>
    </div>
</app-form>

<ng-template #deletePrompt>
    <p class="text-sm font-semibold">هل تريد الإستمرار في حذف الخطر؟</p>
</ng-template>