<app-table [headers]="headers" [filterFields]="filterFields" [items]="data$ | async" [breadcrumbs]="summary"
           [subList]="subList" [withPagination]="withPagination"
           (addClicked)="onCreate()">
    <ng-template #tableCell let-data="data">
        <td *ngIf="showParentName"> {{ model === 'initiatives' ? data.initiativeName : data.kpiName }}</td>
        <td>
            <div class="whitespace-normal w-96 xl:w-full xl:whitespace-pre">{{ data.description }}</div>
        </td>
        <td>{{ data.analyzedAt | isoDate  }}</td>
        <td>{{ data.analyzedBy }}</td>
        <td *ngIf="!subList">
            <app-table-actions-buttons *ngIf="data.approved"
                (UpdateBtnClicked)="onUpdate(data)" 
                (DeleteBtnClicked)="onDelete(data)">
            </app-table-actions-buttons>
        </td>
    </ng-template>
</app-table>

<app-modal modalId="AnalyticsModal" size="lg" #modal>
    <p class="text-sm font-semibold ml-2" modal-head>{{ formTitle }}</p>
    <div modal-body>
        <app-analytic-form
                *ngIf="modal.showBody"
                [parentType]="parentType"
                [inputCommand]="command"
                [formAction]="formAction"
                (formSubmitted)="updateItems($event)">
        </app-analytic-form>
    </div>
</app-modal>
