<app-detail-page [tabs]="tabs" [state]="detailPageState" titleKey="name" [editBtnLoading]="isFormLoading" [selectedTab]="selectedTab"
                 [notFound]="notFoundState"
                 (deleteClicked)="delete()" 
                 (editClicked)="update()">
    <ng-container *ngIf="detailPageState">
        <app-initiative-performance *ngIf="selectedTab === 'performance'"></app-initiative-performance>
        <app-initiative-issues [initiativeId]="detailPageState.id" *ngIf="selectedTab === 'issues'"></app-initiative-issues>
        <app-initiative-risks [initiativeId]="detailPageState.id" *ngIf="selectedTab === 'risks'"></app-initiative-risks>
        <app-initiative-milestones [initiativeId]="detailPageState.id" *ngIf="selectedTab === 'milestones'"></app-initiative-milestones>
        <app-initiative-deliverables [initiativeId]="detailPageState.id" *ngIf="selectedTab === 'deliverables'"></app-initiative-deliverables>
        <app-initiative-approved-costs [initiativeId]="detailPageState.id" *ngIf="selectedTab === 'approved-costs'"></app-initiative-approved-costs>
        <app-initiative-contracts *ngIf="selectedTab === 'contracts'"></app-initiative-contracts>
        <app-initiative-budgets [initiativeId]="detailPageState.id" *ngIf="selectedTab === 'budgets'"></app-initiative-budgets>
        <app-initiative-expenditures *ngIf="selectedTab === 'expenditures'"></app-initiative-expenditures>
        <app-analytics-list parentType="initiative" [parentId]="detailPageState.id" *ngIf="selectedTab === 'analytics'"></app-analytics-list>
        <app-initiative-teams [initiativeId]="detailPageState.id" *ngIf="selectedTab === 'teams'"></app-initiative-teams>
        <app-initiative-over-view [initiative]="detailPageState" *ngIf="selectedTab === 'over-view'"></app-initiative-over-view>
    </ng-container>
</app-detail-page>

<app-modal modalId="InitiativeDetail" size="xl" #modal>
    <p class="text-sm font-semibold ml-2" modal-head>{{ formTitle }}</p>
    <div modal-body>
        <app-initiative-form *ngIf="modal.showBody" [inputCommand]="command" [formAction]="formAction"
                             (formSubmitted)="onSubmit($event)">
        </app-initiative-form>
    </div>
</app-modal>