<!--<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-2">-->
<div class="grid grid-cols-12 gap-2">
    <div class="bg-white border border-theme-gray-300 rounded col-span-full sm:col-span-6 md:col-span-4 2xl:col-span-2">
        <app-performance-card [values]="fundingPerformance"></app-performance-card>
    </div>
    <div class="bg-white border border-theme-gray-300 rounded col-span-full sm:col-span-6 md:col-span-4 2xl:col-span-2">
        <app-performance-card [values]="estimateAtCompletion"></app-performance-card>
    </div>
    <div class="bg-white border border-theme-gray-300 rounded col-span-full sm:col-span-6 md:col-span-4 2xl:col-span-2">
        <app-performance-card [values]="contractingPerformance"></app-performance-card>
    </div>
    <div class="bg-white border border-theme-gray-300 rounded col-span-full sm:col-span-6 md:col-span-4 2xl:col-span-2">
        <app-performance-card [values]="allTimeSpendingPerformance"></app-performance-card>
    </div>
    <div class="bg-white border border-theme-gray-300 rounded col-span-full sm:col-span-6 md:col-span-4 2xl:col-span-2">
        <app-performance-card [values]="currentPeriodSpendingPerformance" [limitPercentageToHundred]="true"></app-performance-card>
    </div>
    <div class="bg-white border border-theme-gray-300 rounded col-span-full sm:col-span-6 md:col-span-4 2xl:col-span-2">
        <app-performance-card [values]="currentPeriodContractingPerformance" [limitPercentageToHundred]="true"></app-performance-card>
    </div>
    <div class="bg-white border border-theme-gray-300 rounded col-span-full 2xl:col-span-6">
        <app-expenditure-progress-chart [data]="spendingPlan$ | async" title="تقدم الصرف" thresholdName="السيولة"></app-expenditure-progress-chart>
    </div>
    <div class="bg-white border border-theme-gray-300 rounded col-span-full 2xl:col-span-6">
        <app-contracting-progress-chart [data]="contractingPlan$ | async" title="تقدم التعاقد" thresholdName="التكاليف المعتمدة">
        </app-contracting-progress-chart>
    </div>

    <div class="flex flex-col space-y-2 col-span-full md:col-span-4 2xl:col-span-2">
        <div class="bg-white border border-theme-gray-300 rounded">
            <app-progress-chart title="حالة المبادرة" [values]="initiativeProgress"></app-progress-chart>
        </div>
        <div class="bg-white border border-theme-gray-300 rounded">
            <app-performance-card [values]="milestoneProgressPerformance$ | async"></app-performance-card>
        </div>
    </div>
    <div class="bg-white border border-theme-gray-300 rounded col-span-full md:col-span-8 2xl:col-span-10">
        <app-progress-over-time-chart [data]="progressOvertime$ | async"  title="تقدم المبادرة"></app-progress-over-time-chart>
    </div>
</div>
