<app-table [headers]="headers" [filterFields]="filterFields" [items]="data$ | async" [breadcrumbs]="summary"
           (addClicked)="onCreate()">
    <ng-template #tableCell let-data="data">
        <td>{{ data.name }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.phone }}</td>
        <td><span class="rounded-full px-2" [ngClass]="data.role.style">{{ data.role.name }}</span></td>
        <td>
            <app-table-actions-buttons *ngIf="data.approved"
                    [isLoading]="isFormLoading[data.id]"
                    (UpdateBtnClicked)="onUpdate(data)"
                    (DeleteBtnClicked)="onDelete(data)">
            </app-table-actions-buttons>
        </td>
    </ng-template>
</app-table>

<app-modal modalId="TeamModal" size="lg" #modal>
    <p class="text-sm font-semibold ml-2" modal-head>{{ formTitle }}</p>
    <div modal-body>
        <app-initiative-team-form
                *ngIf="modal.showBody"
                [inputCommand]="command"
                [formAction]="formAction"
                (formSubmitted)="updateItems($event)">
        </app-initiative-team-form>
    </div>
</app-modal>
