<app-table [headers]="headers" [filterFields]="filterFields" [items]="data$ | async" [breadcrumbs]="summary"
           (addClicked)="onCreate()">
    <ng-template #tableCell let-data="data">
        <td *ngIf="fullList">{{ data.initiativeName }}</td>
        <td *ngIf="fullList">{{ data.entityName }}</td>
        <td><div class="whitespace-normal w-96">{{ data.description }}</div></td>
        <td><span class="rounded-full px-2" [ngClass]="data.scope.style">{{ data.scope.name }}</span></td>
        <td><span class="rounded-full px-2" [ngClass]="data.status.style">{{ data.status.name }}</span></td>
        <td><span class="rounded-full px-2" [ngClass]="data.impact.style">{{ data.impact.name }}</span></td>
        <td><div class="whitespace-normal w-96">{{ data.impactDescription }}</div></td>
        <td>{{ data.source }}</td>
        <td>{{ data.reason }}</td>
        <td><div class="whitespace-normal w-96">{{ data.resolution }}</div></td>
        <td>{{ data.estimatedResolutionDate | isoDate }}</td>
        <td>{{ data.raisedAt | isoDate }}</td>
        <td>{{ data.raisedBy }}</td>
        <td>{{ data.closedAt | isoDate }}</td>
        <td>
            <app-table-actions-buttons *ngIf="data.approved"
                    [isLoading]="isFormLoading[data.id]"
                    (UpdateBtnClicked)="onUpdate(data)"
                    (DeleteBtnClicked)="onDelete(data)">
            </app-table-actions-buttons>
        </td>
    </ng-template>
</app-table>

<app-modal modalId="IssueModal" size="xl" #modal>
    <p class="text-sm font-semibold ml-2" modal-head>{{ formTitle }}</p>
    <div modal-body>
        <app-initiative-issue-form
                *ngIf="modal.showBody"
                [fullList]="fullList"
                [inputCommand]="command"
                [formAction]="formAction"
                (formSubmitted)="updateItems($event)">
        </app-initiative-issue-form>
    </div>
</app-modal>
