<app-table [headers]="headers" [filterFields]="filterFields" [items]="data$ | async" [breadcrumbs]="summary"
           (addClicked)="onCreate()">
    <ng-template #tableCell let-data="data">
        <td>{{ data.approvalDate | isoDate }}</td>
        <td>{{ data.initialAmount | localCurrency }}</td>
        <td>{{ data.amount | localCurrency }}</td>
        <td>
            <app-table-actions-buttons *ngIf="data.approved"
                    (UpdateBtnClicked)="onUpdate(data)"
                    (DeleteBtnClicked)="onDelete(data)">
            </app-table-actions-buttons>
        </td>
    </ng-template>
</app-table>

<app-modal modalId="BudgetModal" size="lg" #modal>
    <p class="text-sm font-semibold ml-2" modal-head>{{ formTitle }}</p>
    <div modal-body>
        <app-initiative-budget-form
                *ngIf="modal.showBody"
                [inputCommand]="command"
                [formAction]="formAction"
                (formSubmitted)="updateItems($event)">
        </app-initiative-budget-form>
    </div>
</app-modal>
