<div class="flex flex-col">
    <div class="px-2 py-[0.44rem] border-b border-b-theme-gray-300">
        <h2 class="text-sm">{{ title }}</h2>
    </div>
    <div class="flex justify-center items-center ltr relative" *ngIf="data; else loading">
        <span class="text-sm absolute">{{total}}</span>
        <ngx-charts-pie-chart
                [results]="data.values"
                [legend]="false"
                [explodeSlices]="false"
                [labels]="true"
                [labelFormatting]="formatLabel"
                [trimLabels]="false"
                [doughnut]="true"
                [scheme]="scheme">
        </ngx-charts-pie-chart>
    </div>
</div>

<ng-template #loading>
    <div class="p-2 bg-white opacity-50 h-40 grid place-items-center">
        <div class="flex justify-center animate-pulse">
            <div class="flex justify-center h-28 w-28 bg-theme-gray-400 rounded-full items-center">
                <div class="bg-white h-24 w-24 rounded-full"></div>
            </div>
        </div>
    </div>
</ng-template>
