<app-table [headers]="headers" [filterFields]="filterFields" [items]="data$ | async" [breadcrumbs]="summary"
           (addClicked)="onCreate()">
    <ng-template #tableCell let-data="data">
        <td>{{ data.name }}</td>
        <td><span class="rounded-full px-2" [ngClass]="data.phase.style">{{ data.phase.name }}</span></td>
        <td>{{ data.plannedBiddingDate | isoDate }}</td>
        <td>{{ data.actualBiddingDate | isoDate }}</td>
        <td>{{ data.plannedContractingDate | isoDate }}</td>
        <td>{{ data.estimatedAmount | localCurrency }}</td>
        <td>{{ data.duration }}</td>
        <td [ngSwitch]="data.status.toLowerCase()">
            <span *ngSwitchCase="'ontrack'" class="text-green-600">على المسار</span>
            <span *ngSwitchCase="'lateonbidding'" class="text-red-500">متأخر في الطرح</span>
            <span *ngSwitchCase="'lateoncontracting'" class="text-red-500">متأخر في التعاقد</span>
            <span *ngSwitchCase="'lateonbidding,lateoncontracting'" class="text-red-500">متأخر في الطرح والتعاقد</span>
        </td>
        <td>
            <app-table-actions-buttons
                    [isLoading]="isFormLoading[data.id]"
                    (UpdateBtnClicked)="onUpdate(data)"
                    (DeleteBtnClicked)="onDelete(data)">
                <ng-container extraButton>
                    <button  class="btn px-2 py-1 text-xs btn-white border-none" title="توقيع العقد" (click)="onCreateContract(data)">
                        <i class="fa fa-file-signature"></i>
                    </button>
                    <div class="border-l border-l-theme-gray-300 py-2"></div>
                </ng-container>
                
            </app-table-actions-buttons>
        </td>
    </ng-template>
</app-table>

<app-modal modalId="ProjectModal" size="xl" #modal>
    <p class="text-sm font-semibold ml-2" modal-head>{{ formTitle }}</p>
    <div modal-body>
        <app-initiative-project-form
                *ngIf="modal.showBody"
                [inputCommand]="command"
                [formAction]="formAction"
                (formSubmitted)="updateItems($event)">
        </app-initiative-project-form>
    </div>
</app-modal>

<app-modal modalId="ContractModal" size="xl" #contractModal>
    <p class="text-sm font-semibold ml-2" modal-head>إضافة عقد</p>
    <div modal-body>
        <app-initiative-contract-form
                *ngIf="contractModal.showBody"
                [inputCommand]="contractCommand"
                [formAction]="contractFormAction"
                (formSubmitted)="removeProject($event)">
        </app-initiative-contract-form>
    </div>
</app-modal>
