<app-form [form]="form" (formSubmitted)="onSubmit()">
    <ul class="bg-red-100 p-2 border border-red-300 rounded-lg" *ngIf="globalErrors.length">
        <li class="text-sm text-red-500" *ngFor="let error of globalErrors">- {{ error }}</li>
    </ul>
    <ng-container *ngIf="!isDeleteRequest; else deletePrompt">
        <div class="grid grid-cols-12 gap-2">
            <div class="col-span-full">
                <app-form-input [control]="name" id="name" name="اسم المشروع"></app-form-input>
            </div>
            <div class="col-span-full sm:col-span-6">
                <app-form-input [control]="plannedBiddingDate" id="plannedBiddingDate" name="تاريخ الطرح المخطط"
                                type="date"></app-form-input>
            </div>
            <div class="col-span-full sm:col-span-6">
                <app-form-input [control]="actualBiddingDate" id="actualBiddingDate" name="تاريخ الطرح الفعلي"
                                type="date"></app-form-input>
            </div>
            <div class="col-span-full sm:col-span-6">
                <app-form-input [control]="plannedContractingDate" id="plannedContractingDate"
                                name="تاريخ التعاقد المخطط"
                                type="date"></app-form-input>
            </div>
            <div class="col-span-full sm:col-span-6">
                <app-form-input [control]="plannedContractEndDate" id="plannedContractEndDate"
                                name="تاريخ نهاية العقد المخطط"
                                type="date"></app-form-input>
            </div>
            <div class="col-span-full sm:col-span-6">
                <app-form-input [control]="estimatedAmount" id="estimatedAmount"
                                name="القيمة التقديرية"></app-form-input>
            </div>
            <div class="col-span-full sm:col-span-6">
                <app-form-input [control]="phaseEnumId" id="phaseEnumId" name="المرحلة" type="list"
                                [badgeList]="true"
                                [dynamicListDefaultItems]="currentPhase"
                                [listUrl]="phaseUrl"></app-form-input>
            </div>

            <div class="col-span-full">
                <hr class="my-2">
                <div class="flex justify-between">
                    <span class="text-sm">خطة الصرف</span>
                    <span class="text-sm"
                          [ngClass]="(estimatedAmount.value - es.totalPlannedExpenditure) === 0 
                          ? 'text-green-600' 
                          : 'text-red-500'">المتبقي: {{estimatedAmount.value - es.totalPlannedExpenditure}}</span>
                </div>
                <span class="text-sm text-red-500" *ngIf="es.showExpenditurePlanError">{{ es.expenditurePlanErrorMessage }}</span>
            </div>

            <div class="col-span-full" *ngFor="let timeline of es.expenditureTimeline">
                <div class="overflow-x-auto overflow-y-hidden scrollbar">
                    <table class="w-full table-auto border-collapse border-y-2 border-theme-gray-200">
                        <thead class="bg-white">
                            <tr class="border-b-2 border-theme-gray-200">
                                <th class="py-1 px-0">السنة: {{ timeline.year }}</th>
                            </tr>
                            <tr class="border-b border-theme-gray-200">
                                <th *ngFor="let month of timeline.months; let last = last"
                                    class="font-normal py-1 px-1"
                                    [ngClass]="{'border-l border-theme-gray-200': !last}">شهر {{ month }}</th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-theme-gray-200">
                            <tr>
                                <td *ngFor="let month of timeline.months; let last = last"
                                    class="px-0 py-0" [ngClass]="{'border-l border-theme-gray-200': !last}">
                                    <input class="px-1 py-1.5 min-w-[7rem] w-full focus:outline-none"
                                           [value]="es.getExpenditure(timeline.year, month)"
                                           (input)="addExpenditure($event, timeline.year, month)"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="col-span-full">
                <hr class="my-2">
                <app-form-input [control]="milestoneId" id="milestoneId" name="المعالم المرتبطة" type="list"
                                [listUrl]="milestonesUrl"
                                (listValueSelected)="addMilestone($event)">
                </app-form-input>
            </div>
            <div class="col-span-full" *ngIf="currentMilestones.length > 0">
                <div class="overflow-x-auto overflow-y-hidden scrollbar">
                    <table class="w-full table-auto border-collapse border-y-2 border-theme-gray-200">
                        <thead class="bg-white">
                        <tr class="border-b-2 border-theme-gray-200">
                            <th class="py-1 px-0">اسم المعلم</th>
                            <th class="w-full"></th>
                        </tr>
                        </thead>
                        <tbody class="divide-y divide-theme-gray-200">
                            <tr *ngFor="let milestone of currentMilestones">
                                <td>{{milestone.name}}</td>
                                <td class="ltr">
                                    <button class="btn px-2 py-1 text-xs btn-white border-none" title="حذف" (click)="removeMilestone(milestone)">
                                        <i class="fa fa-trash-alt px-0.5"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </ng-container>
    <div class="flex justify-end border-t border-t-theme-gray-200 pt-4">
        <button type="submit" class="btn py-1.5 w-20 btn-secondary text-center text-sm" appLoadingBtn
                [isLoading]="isLoading" [disabled]="isLoading">{{isDeleteRequest ? 'حذف' : 'حفظ'}}</button>
    </div>
</app-form>

<ng-template #deletePrompt>
    <p class="text-sm font-semibold">هل تريد الإستمرار في حذف المشروع؟</p>
</ng-template>