<app-detail-page [tabs]="tabs" [state]="detailPageState" titleKey="name" [editBtnLoading]="isFormLoading" [selectedTab]="selectedTab"
                 [notFound]="notFoundState"
                 (deleteClicked)="delete()"
                 (editClicked)="update()">
    <ng-container *ngIf="detailPageState">
        <app-kpi-performance *ngIf="selectedTab === 'performance'"></app-kpi-performance>
        <app-kpi-values [frequency]="detailPageState.frequency" [kpiId]="detailPageState.id" *ngIf="selectedTab === 'values'"></app-kpi-values>
    </ng-container>
</app-detail-page>

<app-modal modalId="KpiDetail" size="xl" #modal>
    <p class="text-sm font-semibold ml-2" modal-head>{{ formTitle }}</p>
    <div modal-body>
        <app-kpi-form *ngIf="modal.showBody" [inputCommand]="command" [formAction]="formAction"
                             (formSubmitted)="onSubmit($event)">
        </app-kpi-form>
    </div>
</app-modal>